<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookmark Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Bookmark the post!</h1>
<form action="#" th:action="'/bookmark/' + ${bookmark_payload.postId}" th:object="${bookmark_payload}" method="post">
    <p>User Id: <input type="text" th:field="*{userId}" ></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>