<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts.empty}">
        <td colspan="2"> No Bookmarks!! </td>
    </tr>
    <tr th:each="post : ${posts}">
        <td><a th:href="'/post/' + ${post.id}" th:text="${post.title}"></a></td>
        <td><a th:href="'/post/' + ${post.id}" th:text="${post.user.userId}"></a></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="'/home/' + ${id}" method="get">
    <p><input type="submit" value="Back" /></p>
</form>
</body>
</html>