<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>You are viewing a post!</h1>
    <p th:text="'title: ' + ${title}"/>
    <p th:text="'text: ' + ${text}"/>
    <table>
        <thead>
        <tr>
            <th> Author </th>
            <th> Text </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${comments.empty}">
            <td colspan="2"> No Comments Available </td>
        </tr>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.user.userId}"> </td>
            <td th:text="${comment.text}"></td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="'/update/' + ${id}" method="get">
        <p><input type="submit" value="Update" /></p>
    </form>
    <form action="#" th:action="'/comment/' + ${id}" method="get">
        <p><input type="submit" value="Comment" /></p>
    </form>

    <form action="#" th:action="'/delete/' + ${id}" method="get">
        <p><input type="submit" value="Delete" /></p>
    </form>
</body>
</html>