<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>You are viewing a post!</h1>
    <p th:text="'title: ' + ${title}"/>
    <p th:text="'text: ' + ${text}"/>
    <form action="#" th:action="'/update/' + ${id}" method="get">
        <p><input type="submit" value="Update" /></p>
    </form>
    <form action="#" th:action="'/delete/' + ${id}" method="get">
        <p><input type="submit" value="Delete" /></p>
    </form>
</body>
</html>